@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}


.chat-list {
		list-style-type: none;

	
}