@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');

$margin-inside: 0.4em;
$clr-usr-status-active: green;
$clr-usr-status-inactive: #ccc;
$clr-hover: rgb(243, 243, 243);
$clr-nav-icon: invert(55%) sepia(0%) saturate(83%) hue-rotate(170deg)
  brightness(52%) contrast(92%);
$clr-bg-header: rgba(255, 125, 97, 0.86);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.chat-container {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 100%;
}

.chat-input {
  input {
    min-width: 100%;
    min-height: 1.75rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    transition: 0.5s;
    padding-left: 0.75em;
    position: sticky;
    bottom: 0;

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      border: 1px solid rgb(153, 153, 153);
    }
  }
}

.chat-messages {
  flex-grow: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  // column-reverse here for the default scroll-down
  flex-direction: column-reverse;

}

.chat-messages-list {
  list-style-type: none;
  padding-left: 0.75em;

  li {
    margin-bottom: 0.6em;

    p {
      margin: 0;
      margin-bottom: 0.2em;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $clr-hover;

      .chat-list__user::after {
        content: attr(data-message-date);
        margin-left: $margin-inside;
        color: #ccc;
      }
    }
  }

  &__user {
    font-size: 0.95em;

    &--active {
      display: inline-block;
      margin-left: $margin-inside;
      width: 10px;
      height: 10px;
      background-color: $clr-usr-status-active;
      border-radius: 50%;
    }
    &--inactive {
      display: inline-block;
      margin-left: $margin-inside;
      width: 10px;
      height: 10px;
      background-color: $clr-usr-status-inactive;
      border-radius: 50%;
    }
  }
}

.chat-header {
  border-bottom: 1px solid $clr-bg-header;
  position: sticky;
  z-index: 999;
  width: 100%;
  height: 4.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    span {
      display: block;
      text-align: center;

      &:last-child {
        font-size: 1.2em;
        letter-spacing: 0.1em;
        font-weight: 500;
      }
    }
  }

  &__icon--users {
    width: 42px;
    cursor: pointer;
    filter: $clr-nav-icon;
  }

  &__icon--rooms {
    width: 40px;
    filter: $clr-nav-icon;
    margin-right: 4px;
  }

	//* Drawer
  &__nav--left {
    position: absolute;
    left: -100%;
    padding-left: 20px;
    padding-block-end: 50px;
    text-align: left;
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    -webkit-overflow-scrolling: touch;
    transition: all 0.2s ease;
    border-bottom: 1px solid black;
    box-shadow: 0px 10px 6px -7px rgba(0, 0, 0, 0.5);

    ul {
      margin-bottom: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 7px;
    }

    li:hover {
      background-color: $clr-hover;
    }
    a {
      color: black;
      text-decoration: none;
      font-size: 1rem;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }

    a:hover {
      color: #000;
    }
  }

  .nav-toggle {
    display: none;
    // note: ~ is looking for a sibling.
    &:checked ~ .chat-header__nav--left {
      // transform: scale(0.5, 0.5);
      transform: scale(1, 1);
      left: 0;

      a {
        opacity: 1;
        transition: opacity 150ms ease-in-out 150ms;
      }
    }
  }
}
