@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.chat-container {
  background-color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  height: 100%;
  margin: 0px 15px 0px 15px;
}

.chat-container input {
  min-height: 1.75rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 0.75em;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.chat-container input:focus::-webkit-input-placeholder {
  color: transparent;
}

.chat-container input:focus:-ms-input-placeholder {
  color: transparent;
}

.chat-container input:focus::-ms-input-placeholder {
  color: transparent;
}

.chat-container input:focus::placeholder {
  color: transparent;
}

.chat-container input:focus {
  border: 1px solid #999999;
}

.chat-header__room-info {
  background-color: #ccc;
}

.chat-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-list__item {
  margin-bottom: 0.6em;
}

.chat-list__item p {
  margin: 0;
  margin-bottom: 0.2em;
}

.chat-list__item:hover {
  background-color: #f3f3f3;
}

.chat-list__item:hover .chat-list__user::after {
  content: attr(data-message-date);
  margin-left: 0.4em;
  color: #ccc;
}

.chat-list__user {
  font-size: 0.95em;
}

.chat-list__user--active {
  display: inline-block;
  margin-left: 0.4em;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.chat-list__user--inactive {
  display: inline-block;
  margin-left: 0.4em;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
}

header {
  background: rgba(255, 125, 97, 0.86);
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  width: 100%;
}

nav {
  position: absolute;
  text-align: left;
  width: 100%;
  max-height: 100vh;
  top: 100%;
  left: -110%;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 5px;
  padding-left: 0.3em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li:hover {
  background-color: #f3f3f3;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  left: 0;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out 150ms;
  transition: opacity 150ms ease-in-out 150ms;
}

.nav-toggle__label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle__label .chat-icon {
  width: 42px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */