@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

$margin-inside: .4em;
$clr-usr-status-active: green;
$clr-usr-status-inactive: #ccc;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.chat-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin: 0px 15px 0px 15px;

	input {
		// width: 100%;
		min-height: 1.75rem;
		border: 1px solid #ccc;
		border-radius: 3px;
		outline: none;
		transition: 0.5s;
		padding-left: .75em;
		position: sticky;
		bottom: 0;
		
		&:focus::placeholder {
			color: transparent;
		}

		&:focus {
			border: 1px solid rgb(153, 153, 153);
		}
	}
}

.chat-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;	
  padding: 0;	
	
		&__item {
			margin-bottom: .6em;

			p {
				margin: 0;
				margin-bottom: .2em;	
			}

			&:hover{
				background-color: rgb(243, 243, 243);

				//`li` on hover:
				.chat-list__user::after {
					content: attr(data-message-date);
					margin-left: $margin-inside;
					color: #ccc;
				}
			}
		}

		&__user {
			font-size: .95em;

			&--active {
				display: inline-block;
				margin-left: $margin-inside;
				width: 10px;
				height: 10px;
				background-color: $clr-usr-status-active;
				border-radius: 50%;
			}	
			&--inactive {
				display: inline-block;
				margin-left: $margin-inside;
				width: 10px;
				height: 10px;
				background-color: $clr-usr-status-inactive
				border-radius: 50%;
			}	
		}
}
