@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.content p {
  display: none;
}

header {
  background: rgba(255, 125, 97, 0.86);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  position: absolute;
  text-align: left;
  width: 100%;
  top: 100%;
  left: 0;
  background: rgba(255, 125, 97, 0.86);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 150ms;
  transition: opacity 250ms ease-in-out 150ms;
}

.nav-toggle__label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle__label span,
.nav-toggle__label span::before,
.nav-toggle__label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle__label span::before,
.nav-toggle__label span::after {
  content: '';
  position: absolute;
}

.nav-toggle__label span::before {
  bottom: 7px;
}

.nav-toggle__label span::after {
  top: 7px;
}

@media screen and (min-width: 800px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 3fr) 1fr;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .content p {
    display: block;
    color: white;
  }
  .nav-toggle__label {
    display: none;
  }
  nav {
    all: unset;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/ 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav a {
    opacity: 10;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  nav a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */